<h1>kuwai</h1>

<input type="text" id="item0" value="list">
<input type="text" id="item1" value="Good Company">
<input type="text" id="item2" value="2013-01">
<input type="button" id="btn" onClick='$("#tbl").empty();call()' value='GO!'>
<table id="tbl"></table>

<script>
	function call(){
    NAAjax2.ajax([$('#item0').val(), $('#item1').val(), $('#item2').val()],
      function(result){NAVerticalTableForDynamo.build($('#tbl'),result);},
      function(error){console.log(error);alert("AjaxError, See console.");}
    );
  }
  function func_on_click(hash,range){
    NAAjax2.ajax(
      ["one",hash,range],
      function(result){NAVerticalTable.build($('#tbl'),result);},
      function(error){console.log(error);alert("AjaxError, See console.");}
    );
  }
</script>