<h1>jQuery.support property</h1>

<table id="tbl"></table>

<script>
	$(function(){
		console.log($.support);
		var records = [];
		records[0] = $.support;
		NAVerticalTable.build($("#tbl"),records);
	});
</script>
