<h1>kuwai</h1>

<input type="text" id="item0" value="list">
<input type="text" id="item1" value="Good Company">
<input type="text" id="item2" value="2013-01">
<input type="button" id="btn" onClick='$("#tbl").empty();call()' value='GO!'>
<table id="tbl"></table>

<script>
	function call(){
    //NAAjax2.ajax(["list", "Good Company", "2013-01"],
    NAAjax2.ajax([$('#item0').val(), $('#item1').val(), $('#item2').val()],
      function(r){NAVerticalTable.build($('#tbl'),r);},
      function(r){console.log(r);alert("AjaxError,See consolel.");}
    );
  }
</script>