<h1>kuwai</h1>

<textarea id="urltext" rows=5 cols=30>http://kuwai.herokuapp.com/test/json</textarea>
<input type="button" id="btn" onClick='$("#tbl").empty();callWebAPI()' value='GO!'>
<table id="tbl"></table>

<script>
	function callWebAPI(){
		$.ajax({
			type:"GET",
			url:$('#urltext').val(),
			dataType:"jsonp",
			jsonpCallback:"pad",
			contentType:"application/json",
			success:function(result){
				console.log("callWebAPI-Success");
				NAVerticalTable.build($('#tbl'), result);
			},
			error:function(){
				console.log("callWebAPI-Error");
			}
		});
	};	
</script>