<script>
  $("#WRONG-OK").click(function(){
    NASlide.slide("WRONG","INPUT");
  });
  
  var try_sign_in = function(){
    NASlide.slide("INPUT","WAIT");
    NAAjax2.set_who( $("#email").val(), $("#pw").val(),
      function(email){
        $("#email").val("");
        $("#pw").val("");
        NAAjax2.load_page("page_selector");
        NASlide.slide("WAIT","GOOD");
      },
      function(email){
        $("#pw").val("");
        NASlide.slide("WAIT","WRONG");
      },
      function(email){
        NASlide.slide("WAIT","WRONG_AJAX");
      });
  };
</script>

<h1>Sign-in, Please!</h1>

<div id ="INPUT" aline="right";>
  <input id="email" type="email" placeholder="Your Email">
  <input id="pw" type="password" placeholder="Password">
  <input type="button" onclick="try_sign_in()">
</div>

<div id="WRONG" style="display:none">
  <input id="WRONG-OK" type="button" value="emailアドレス、もしくは、パスワードがちがうようです。。" class='round_rect pink M'>
</div>

<div id="WRONG_AJAX" style="display:none">
  <input id="WRONG-OK" type="button" value="データセンターと通信が行えませんでした。。" class='round_rect pink M'>
</div>

<div id="GOOD" style="display:none">
  <h2>Yaaay!</h2>
</div>
